<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de empleados</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <header>
        <div class="titulo">
            <h1><b>Lista de empleados</b></h1>
        </div>
    </header>
    <main>
        <div class="tabla_empleados">
            <div class="tabla-header">
                <div class="filtroContenedor">
                    <mat-form-field class="filtro">
                        <mat-label>Buscador...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" #input>
                    </mat-form-field>
                </div>
                <div class="addContenedor">
                    <button mat-flat-button class="add" (click)="agregarEmpleado()" color="primary" cdkFocusInitial>Registrar</button>
                    
                </div>
            </div>
            <div class="tablaContenedor">
                <table mat-table [dataSource]="dataSource" class="tabla" matSort>

                    <!-- id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                
                    <!-- Nombre Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>
                
                    <!-- Apellido Column -->
                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                    </ng-container>
                
                    <!-- Documento Column -->
                    <ng-container matColumnDef="nroDocumento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
                        <td mat-cell *matCellDef="let element"> {{element.nroDocumento}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <!-- Fecha de nacimiento Column -->
                    <ng-container matColumnDef="fechaNacimiento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de nacimiento </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
                    </ng-container>

                    <!-- Fecha de ingreso Column -->
                    <ng-container matColumnDef="fechaIngreso">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de ingreso </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaIngreso}} </td>
                    </ng-container>

                    <!-- Fecha de creacion Column -->
                    <ng-container matColumnDef="fechaCreacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creacion </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </td>
                    </ng-container>

                    <!-- Acciones Column -->
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-fab color="primary" (click)="actualizarEmpleado(element.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-fab color="warn" (click)="eliminarEmpleado(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            
            <div class="paginadorContenedor">
                <mat-paginator class="paginador" [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>